<a href="https://colab.research.google.com/github/farhanns481/notes/blob/main/datatypes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
age = 30
print(age)

30

In [ ]:
type(30)

int

**text**

*   string

In [ ]:
year = "2002"
print(year)

2002

**sequence**


*   list
*   tuple
*   range(start,stop,step)

In [ ]:
days = [9,5,5]

In [ ]:
type(days)

list

In [ ]:
marks = ('student 1',95,'student 2',87)

In [ ]:
type(marks)

tuple

range

In [ ]:
list(range(5))

[0, 1, 2, 3, 4]

In [ ]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
list(range(2,10,2))

[2, 4, 6, 8]

In [ ]:
list(range(8,-1,-2))

[8, 6, 4, 2, 0]

#mapping type

*   dictionary

In [ ]:
details = {'batch':7,'course':'DSA'}
details['batch']

7

In [ ]:
details=('course')

In [ ]:
details.keys()

dict_keys(['batch', 'course'])

#set  data type

In [ ]:
colors = {'red','green','blue','green'}
print(colors)

{'green', 'red', 'blue'}

#boolean

In [ ]:
engine_off = True
fan_on = False
type(engine_off)

bool

#none

In [ ]:
value = None
type(value)

NoneType

In [ ]:
year_of_birth = 1990
age = 2025-year_of_birth
print(age)

35

#computer age from year of birth
#store your name, age and location as dictionary
bio_data
#create a to-do list using python lists
#create list of odd numbers from 100 to 1 using range
#print second last item from your to-do list
#print  second item from your to-do list
#print the number of characters in your name
#write  code to do basic arithmetic(+-*/) on two numbers accepted from user
#print age and year of birth accepting user input and print formatting
#write code to print a greeting message 5 times
#write code to print (true/false) a given string is palindrome
#write code to print a digit in words (eg 3 --three)
#write code to print a 4 digit otp in words(eg 2136 - two one three six)

In [ ]:
bio_data = {'name':'xxx','age':18,'loc':'tvm'}
print(bio_data)

{'name': 'xxx', 'age': 18, 'loc': 'tvm'}

In [ ]:
to_do = ['brush','bath','sleep','food']
print(to_do[2])
print(to_do[1])

sleep
bath

In [ ]:
list(range(99,0,-2))

[99,
 97,
 95,
 93,
 91,
 89,
 87,
 85,
 83,
 81,
 79,
 77,
 75,
 73,
 71,
 69,
 67,
 65,
 63,
 61,
 59,
 57,
 55,
 53,
 51,
 49,
 47,
 45,
 43,
 41,
 39,
 37,
 35,
 33,
 31,
 29,
 27,
 25,
 23,
 21,
 19,
 17,
 15,
 13,
 11,
 9,
 7,
 5,
 3,
 1]

In [ ]:
x = input ('name')
len(x)

nameriyan

5

In [ ]:
a = float(input('num 1'))
b = float(input('num 2'))
sum = a + b
sub = a - b
mul = a * b
div = a / b
print(sum)
print(sub)
print(mul)
print(div)

num 16
num 23
9.0
3.0
18.0
2.0

In [ ]:
x = int(input('dob'))
age = (2025-x)

In [ ]:
a = 10
b = 3
c=a**b
print(c)

1000

In [ ]:
num = 9
den = 2
result= num//den
print(result)

4

In [ ]:
#AND
print(True and True)
print(True and False)

True
False

In [ ]:
#or
print(True or False)

True

In [ ]:
#not
print(not True)

False

In [ ]:
#in
print(1 in (1,2,3))

True

In [ ]:
#not in
print(1 not in (1,2,3,4))

False

In [ ]:
'x' in 'malayalam'

False

In [ ]:
#is
a=10
b=10
print(a is b)

a=12
b=10
print(a is b)

True
False

In [ ]:
x = input('')
y = int(input())
print(x*y)

hello
5
hellohellohellohellohello

In [ ]:
x = input('enter is string ')
y = x[::-1]
x==y

enter is string malayalam

True

In [ ]:
digit_words = {1:"one",2:"two"}
digit = int(input("enter a digit: "))
print(digit_words[digit])

enter a digit: 1
one

In [ ]:
digits = ["zero","one","two","three","four","five","six","seven","eight","nine"]
otp = input("enter otp : ")
a = int(otp [0])
b = int(otp[1])
c = int(otp[2])
d = int(otp[3])
print(digits[a],digits[b],digits[c],digits[d])

enter otp : 2136
two one three six

In [ ]:
digits = ["zero","one","two","three","four","five","six","seven","eight","nine"]
otp = input("enter otp : ")
a = int(otp [0])
b = int(otp[1])
c = int(otp[2])
d = int(otp[3])
print(digits[a],digits[b],digits[c],digits[d])