<a href="https://colab.research.google.com/github/farhanns481/notes/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def greet():
  print("hello welcome to keraala")


greet()

hello welcome to keraala

In [ ]:
def greet(name):
  print(f"hello {name},welcome to program")


greet('riyan')
greet('shahila')

hello riyan,welcome to program
hello shahila,welcome to program

In [ ]:
def greet(name,time):
  print(f"hello {name},welcome to program")
  print(f"your session start at {time}")


greet('riyan','12pm')
greet('shahila','12pm')

hello riyan,welcome to program
your session start at 12pm
hello shahila,welcome to program
your session start at 12pm

In [ ]:
def greet(name,time ="5am"):
  print(f"hello {name},welcome to program")
  print(f"your session start at {time}")


greet('riyan','12pm')
greet('shahila','12pm')
greet('maheen')

hello riyan,welcome to program
your session start at 12pm
hello shahila,welcome to program
your session start at 12pm
hello maheen,welcome to program
your session start at 5am

In [ ]:
x = int(input("enter first no"))
y = int(input("enter second no"))

def mul(x,y):

  z = x*y

  print(z)
mul(x,y)

enter first no4
enter second no3
12

In [ ]:
tot = int(input("enter tot bill"))

def total(x):
  y = x * 10/100
  x = x + y
  print(x)

total(tot)

enter tot bill300
330.0

In [ ]:
def  amount(price):
  if price >= 1000:
    total = price + (0.2 * price)
  elif 500 <= price < 1000:
    total = price + (0.15 * price)
  else:
    total = price + (0.1 * price)
   print(f'total amount is {total}rs')

amount(1000)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 8)

In [ ]:
num_list = [12,4,5,7,8,13,10,21]

def average_even(numberlist):
  even_list=[]
  for num in numberlist:
    if num % 2 ==0:
      even_list.append(num)
  averageEven = sum(even_list)/len(even_list)
  print(even_list)
  print(averageEven)

average_even(num_list)

[12, 4, 8, 10]
8.5

In [ ]:
num_list = [12,4,5,7,8,13,10,21]

def average_even(numberlist):
  even_list=[]
  odd_list=[]
  for num in numberlist:
    if num % 2 ==0:
      even_list.append(num)
    else:
      odd_list.append(num)
  averageEven = sum(even_list)/len(even_list)
  averageOdd = sum(odd_list)/len(odd_list)

  print(even_list)
  print(odd_list)
  print(averageEven)
  print(averageOdd)

average_even(num_list)

[12, 4, 8, 10]
[5, 7, 13, 21]
8.5
11.5

In [ ]:
def sum_numbers(*args):
  print(type(args))
  total=0
  for i in args:
    total += i
  print(total)


sum_numbers(7,8,9,4,3)

<class 'tuple'>
31

In [ ]:
def print_info(**args):
 for item,val in args.items():
  print(f"{item} is {val}")



print_info(name="alan",place="tvm",score=8)
print_info(name="madhu",place="kollam",rate=100)

name is alan
place is tvm
score is 8
name is madhu
place is kollam
rate is 100

In [ ]:
square = lambda x : x*x
square(5)

25

In [ ]:
add = lambda x,y : x + y
add(3,4)

7

In [ ]:
def totalmark(marks):
  return (sum(marks))

finalscore = totalmark([10,20,30,40,50])
if finalscore >= 90:
  print("grade A")
elif finalscore >= 80:
  print("grade B")
elif finalscore >= 70:
  print("grade C")
elif finalscore >= 60:
  print("grade D")

grade A

OOPS - CLASS/OBJECT or INSTANCE/INHERITANCE/POLYMORPHISM/ENCAPSULATION/ABSTRACTION

In [ ]:
class animal:

  animal_type = "dog"
  num_legs = 4
  mammal = "yes"

  def sound(self):
    print("animal barks")

obj1 = animal()
obj1.sound()

animal barks

In [ ]:
class person:
  place = "tvm"

  def __init__(self,name,age):
    self.name= name
    self.age = age

  def greet(self):
    return f"hi myself {self.name} and my age is {self.age} and i am from {self.place}"

obj1 =person("madhu",22)
obj1.greet()

#obj2 = person("riyan",23)
#obj2.greet()

'hi myself madhu and my age is 22 and i am from tvm'

In [ ]:
class employee:
  def __init__(self,name,emp_id,salary):
    self.name  = name
    self.emp_id = emp_id
    self.salary = salary

  def display_info(self):
    print(f"name: {self.name}")
    print(f"employee id: {self.emp_id}")
    print(f"salary: {self.salary}")

class manager (employee):
  def __init__(self,name,emp_id,salary,dept,teamsize):
    super() .__init__(name,emp_id,salary)
    self.dept = dept
    self.teamsize = teamsize

  def display_manager_info(self):
    self.display_info()
    print(f"department: {self.dept}")
    print(f"team size: {self.teamsize}")

emp1 = employee("john","12345",50000)
emp1.display_info()

manager1 = manager("jane","65789",80000,"10",5)
manager1.display_manager_info()

name: john
employee id: 12345
salary: 50000
name: jane
employee id: 65789
salary: 80000
department: 10
team size: 5