<a href="https://colab.research.google.com/github/farhanns481/notes/blob/main/Iterative_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Iterative Statement

for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for num in range(100,140,2):
    print(num)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138

In [ ]:
#string

word = "Remote Internship"

for char in word:
  print(char)

R
e
m
o
t
e

I
n
t
e
r
n
s
h
i
p

In [ ]:
#list

my_list = ['mon','tue','wed','thur','fri']
for item in my_list:
  print(item)

mon
tue
wed
thur
fri

In [ ]:
for i in range(len(my_list)):
  print(my_list[i])

mon
tue
wed
thur
fri

In [ ]:
my_list = ['mon','tue','wed','thur','fri']
for item in my_list:
  if item =='tue':
    print("item found")
  else:
    print(item)

mon
item found
wed
thur
fri

In [ ]:
my_dict = {
    'name':"Manoj",
    'age':22,
    'course':'DSA',
    'from':'tvm',
    'food':'biriyani',
    'game':'football',
    'place':'goa'
}

my_dict.keys()

dict_keys(['name', 'age', 'course', 'from', 'food', 'game', 'place'])

In [ ]:
my_dict.values()

dict_values(['Manoj', 22, 'DSA', 'tvm', 'biriyani', 'football', 'goa'])

In [ ]:
my_dict.items()

dict_items([('name', 'Manoj'), ('age', 22), ('course', 'DSA'), ('from', 'tvm'), ('food', 'biriyani'), ('game', 'football'), ('place', 'goa')])

In [ ]:
for k,v in my_dict.items():
  print(f"My {k} is {v}")

My name is Manoj
My age is 22
My course is DSA
My from is tvm
My food is biriyani
My game is football
My place is goa

In [ ]:
my_grocery = {'tomato':22,'onion':33,'brinjal':25,'apple':55,'orange':45,'strawberry':77,'mango':88}
print(my_grocery)
my_budget = 200
my_list = []
total = 0
for item,price in my_grocery.items():
  if total+price < my_budget:
    my_list.append(item)
    total=total+price
print(my_list)
print(total)

{'tomato': 22, 'onion': 33, 'brinjal': 25, 'apple': 55, 'orange': 45, 'strawberry': 77, 'mango': 88}
['tomato', 'onion', 'brinjal', 'apple', 'orange']
180

In [ ]:
for n in range(1,100):
  if n%3==0 and n%5==0:
   print(n)

15
30
45
60
75
90

In [ ]:
A = 1
while A <10:
  print(A)
  A= A+2
else:
  print("yor crossed the limit")

1
3
5
7
9
yor crossed the limit

In [ ]:
A = 100
while A>0:
  print("u can buy")
  A = A-50
else:
  print("u cannot buy")

u can buy
u can buy
u cannot buy

In [ ]:
n = 10
user=int(input("guess my number"))
while n != user:
  print("wrong")
  user=int(input("guess my number"))
else:
  print("right")

guess my number33
wrong
guess my number10
right

In [ ]:
import random

import random
secret_number=random.randint(1,10)
num=int(input("guess the number"))
while num!=secret_number:
  num=int(input("try again guess again"))
else:
  print("hooraah")

guess the number2
try again guess again3
try again guess again4
try again guess again5
try again guess again6
try again guess again7
try again guess again8
hooraah

In [ ]:
password = '123'
attempts = 3
while attempts >0:
  userpass = input("enter password")
  if userpass == password:
    print("login success")
    break
  else:
    attempts -=1
    print(f"{attempts} attempts left")
else:
    print("login failed")

enter password55
2 attempts left
enter password77
1 attempts left
enter password123
login success

In [ ]:
cinema = {'Asuran':8,'RaOne':9,'Vip':10,'Sura':5,'Kaththi':7}
print(cinema)

cinema["RaOne"]=9
print(cinema)

cinema["Dheera"]=9
cinema["Dhrona"]=8
print(cinema)

highest_rating=0
highest_movie=''
for k,v in cinema.items():
  if v > highest_rating:
    highest_rating=v
    highest_movie=k
print(f'{highest_movie} is the highest rated movie with a rating of {highest_rating}')

filtered_list={}
for k,v in cinema.items():
  if v>5:
    filtered_list[k]=v
print(filtered_list)

{'Asuran': 8, 'RaOne': 9, 'Vip': 10, 'Sura': 5, 'Kaththi': 7}
{'Asuran': 8, 'RaOne': 9, 'Vip': 10, 'Sura': 5, 'Kaththi': 7}
{'Asuran': 8, 'RaOne': 9, 'Vip': 10, 'Sura': 5, 'Kaththi': 7, 'Dheera': 9, 'Dhrona': 8}
Vip is the highest rated movie with a rating of 10
{'Asuran': 8, 'RaOne': 9, 'Vip': 10, 'Kaththi': 7, 'Dheera': 9, 'Dhrona': 8}